<!doctype html>
<html lang="en">
<% include header.ejs %>

	<body>
		<% include navbar.ejs %>

			<div class="container app">
				<h4>Ingreso</h4>
				<div class="leader">
					Autorice su cuenta de Facebook para administra publicaciones en sus paginas.
				</div>
				<hr class="my-4">
				<a class="btn btn-light btn-dark" href="/login/facebook" role="button">Facebook Login</a>
			</div>

			<% include footer.ejs %>
	</body>

</html>